@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  margin: 0 auto;
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.nav-topbar {
  position: relative;
  background: #ff7f50;
  padding: 0 auto;
  color: white;
}

.nav-topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 12px 5px 12px;
}
.nav-topbar-content .nav-topbar-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-topbar-content .nav-topbar-phone i {
  padding-right: 8px;
}
.nav-topbar-content .nav-topbar-phone p {
  font-size: 16px;
}
.nav-topbar-content .nav-topbar-discount a {
  color: white;
}
.nav-topbar-content .nav-topbar-language-location select {
  color: white;
  border: none;
  background: none;
}
.nav-topbar-content .nav-topbar-language-location select:focus {
  outline: none;
}

.nav-bottombar {
  position: relative;
  background: white;
  height: 68px;
  color: black;
}

.nav-bottombar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 12px 5px 12px;
}
.nav-bottombar-content a {
  color: black;
}
.nav-bottombar-content img {
  height: 56px;
  width: auto;
}
.nav-bottombar-content .nav-bottom-toolbar {
  display: flex;
  list-style: none;
}
.nav-bottombar-content .nav-bottom-toolbar .nav-toolbar-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bottombar-content .nav-bottom-toolbar .nav-toolbar-categories i {
  padding-left: 8px;
}
.nav-bottombar-content .nav-bottom-toolbar li {
  padding: 0 16px;
}
.nav-bottombar-content .nav-bottombar-searchbar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 6px 12px;
  max-width: 600px;
  width: 100%;
  height: 40px;
}
.nav-bottombar-content .nav-bottombar-searchbar input {
  background: transparent;
  border: none;
  width: 100%;
  padding-left: 6px;
}
.nav-bottombar-content .nav-bottombar-searchbar input:focus {
  outline: none;
}
.nav-bottombar-content .nav-bottombar-searchbar button {
  background: transparent;
  border: none;
  padding-right: 6px;
  cursor: pointer;
}
.nav-bottombar-content .nav-bottombar-sidebar {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
}
.nav-bottombar-content .nav-bottombar-sidebar .nav-bottombar-account {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bottombar-content .nav-bottombar-sidebar .nav-bottombar-account i {
  padding-right: 8px;
}
.nav-bottombar-content .nav-bottombar-sidebar .nav-bottombar-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bottombar-content .nav-bottombar-sidebar .nav-bottombar-cart i {
  padding-right: 8px;
  position: relative;
}
.nav-bottombar-content .nav-bottombar-sidebar .nav-bottombar-cart i .cart-number {
  position: absolute;
  text-align: center;
  font-size: 4px;
  top: -6px;
  right: 0;
  color: white;
  background: red;
  padding: 2px 4px;
  border-radius: 999px;
}
.nav-bottombar-content .nav-bottombar-mobile {
  display: none;
}

.header-background {
  width: 100%;
  height: 640px;
  background: #aed4d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-background .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-background .header-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 600px;
  position: relative;
}
.header-background .header-content .header-content-innerbox {
  padding: 24px 0;
}
.header-background .header-content .header-content-innerbox p {
  font-size: 24px;
}
.header-background .header-content button {
  color: white;
  background: #ff7f50;
  border: none;
  transition: all 0.3s ease;
}
.header-background .header-content button:hover {
  color: #013d29;
  background: white;
}
.header-background .header-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-categories .shop-categories-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-categories .shop-categories-wrapper .shop-categories-box {
  width: 15%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-categories .shop-categories-wrapper .shop-categories-box img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
}
.shop-categories .shop-categories-wrapper .shop-categories-box:hover img {
  transform: scale(1.1);
}
.shop-categories .shop-categories-wrapper .shop-categories-box .shop-categories-title {
  width: 100%;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.8));
}

.best-deals-categories-wrapper {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 12px;
  overflow: scroll;
}
.best-deals-categories-wrapper::-webkit-scrollbar {
  display: none;
}
.best-deals-categories-wrapper p {
  font-size: 16px;
}
.best-deals-categories-wrapper .button-selected {
  background: #ff7f50;
  border: #ff7f50 1px solid;
}
.best-deals-categories-wrapper .button-selected p {
  color: white;
  font-weight: 700;
}

.best-deals-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.best-deals-wrapper .best-deals-flexbox {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.best-deals-wrapper .best-deals-flexbox .item-card {
  position: relative;
  width: 32.5%;
  height: auto;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 280px;
  transition: all 0.3s ease;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img:hover {
  transform: scale(1.1);
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image .card-favorite {
  position: absolute;
  background: white;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  border-radius: 999px;
  transition: all 0.3s ease;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image .card-favorite i {
  font-size: 20px;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image .card-favorite:hover {
  background: #ffc7b3;
  cursor: pointer;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image .card-favorite:active {
  background: #ff7f50;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-image .card-favorite:active i {
  color: white;
}
.best-deals-wrapper .best-deals-flexbox .item-card .item-card-innerbox {
  margin: 16px 0;
}
.best-deals-wrapper .best-deals-flexbox .item-card .card-title-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.best-deals-wrapper .best-deals-flexbox .item-card .card-title-price .card-price span {
  font-size: 20px;
  margin-right: 12px;
}
.best-deals-wrapper .dragging {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
  scroll-behavior: auto;
}
.best-deals-wrapper .dragging .item-card {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.best-deals-wrapper .carousel-card-button i {
  position: absolute;
  height: 100%;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: transparent;
  font-size: 48px;
  text-align: center;
  line-height: 36px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
.best-deals-wrapper .carousel-card-button i:first-child {
  left: -16px;
}
.best-deals-wrapper .carousel-card-button i:last-child {
  right: -16px;
}
.best-deals-wrapper .carousel-card-button i:hover {
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}
.best-deals-wrapper .carousel-card-button i:hover:first-child {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.best-deals-wrapper .carousel-card-button i:hover:last-child {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.choose-by-brand .brand-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.choose-by-brand .brand-wrapper .brand-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 22.5%;
  height: auto;
  margin: 12px 0;
  background: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
}
.choose-by-brand .brand-wrapper .brand-box:hover {
  border: 1px solid #bbb;
}
.choose-by-brand .brand-wrapper .brand-box img {
  width: 100px;
  height: 100px;
  padding: 12px;
  margin-right: 12px;
  transition: all 0.3s ease;
}
.choose-by-brand .brand-wrapper .brand-box:hover img {
  transform: scale(1.2);
}
.choose-by-brand .brand-wrapper .brand-box .brand-text h4 {
  margin-bottom: 8px;
}

.get-offer .bg-color-yellow {
  background: #f3e3d9;
}
.get-offer .bg-color-red {
  background: #f9dcdd;
}
.get-offer .bg-color-brown {
  background: #f3e3da;
}
.get-offer .bg-color-green {
  background: #d2f7ec;
}
.get-offer .font-color-yellow {
  color: #cb9914;
}
.get-offer .font-color-red {
  color: #961f1f;
}
.get-offer .font-color-brown {
  color: #94623c;
}
.get-offer .font-color-green {
  color: #013d29;
}
.get-offer .get-offer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-offer .get-offer-wrapper .get-offer-box {
  position: relative;
  width: 22.5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.get-offer .get-offer-wrapper .get-offer-box .get-off-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img {
  transition: all 0.3s ease;
}
.get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img:hover {
  transform: scale(1.2);
}
.get-offer .get-offer-wrapper .get-offer-box .get-offer-text {
  padding: 24px;
}
.get-offer .get-offer-wrapper .get-offer-box .get-offer-text .get-off-save {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount {
  font-size: 56px;
  font-weight: 900;
}
.get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount span {
  font-size: 24px;
  position: relative;
  top: -24px;
  margin-right: 4px;
}
.get-offer .get-offer-wrapper .get-offer-box .get-offer-text p {
  font-size: 16px;
  line-height: 150%;
}

.item-cards-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.item-cards-wrapper .item-cards-carousel {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  transition: scroll-behavior 0.01s ease;
}
.item-cards-wrapper .item-cards-carousel::-webkit-scrollbar {
  display: none;
}
.item-cards-wrapper .item-cards-carousel .item-card {
  position: relative;
  width: 100%;
  height: auto;
  scroll-snap-align: start;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 280px;
  transition: all 0.3s ease;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image img:hover {
  transform: scale(1.1);
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-favorite {
  position: absolute;
  background: white;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  border-radius: 999px;
  transition: all 0.3s ease;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-favorite i {
  font-size: 20px;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-favorite:hover {
  background: #ffc7b3;
  cursor: pointer;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-favorite:active {
  background: #ff7f50;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-favorite:active i {
  color: white;
}
.item-cards-wrapper .item-cards-carousel .item-card .item-card-innerbox {
  margin: 16px 0;
}
.item-cards-wrapper .item-cards-carousel .item-card .card-title-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.item-cards-wrapper .item-cards-carousel .item-card .card-title-price .card-price span {
  font-size: 20px;
  margin-right: 12px;
}
.item-cards-wrapper .dragging {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
  scroll-behavior: auto;
}
.item-cards-wrapper .dragging .item-card {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item-cards-wrapper .carousel-card-button i {
  position: absolute;
  height: 100%;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: transparent;
  font-size: 48px;
  text-align: center;
  line-height: 36px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
.item-cards-wrapper .carousel-card-button i:first-child {
  left: -16px;
}
.item-cards-wrapper .carousel-card-button i:last-child {
  right: -16px;
}
.item-cards-wrapper .carousel-card-button i:hover {
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}
.item-cards-wrapper .carousel-card-button i:hover:first-child {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.item-cards-wrapper .carousel-card-button i:hover:last-child {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.discount-full-banner {
  position: relative;
}
.discount-full-banner .discount-banner-image-container {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.discount-full-banner .discount-banner-image-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.discount-full-banner .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 500px;
}
.discount-full-banner .container .discount-banner-content {
  position: absolute;
  padding: 32px;
  width: 500px;
  background: #013d29;
  border-radius: 10px;
}
.discount-full-banner .container .discount-banner-content .discount-banner-innerbox {
  color: white;
  max-width: 600px;
  padding: 8px;
  width: 100%;
}
.discount-full-banner .container .discount-banner-content .discount-banner-innerbox h2 {
  font-size: 56px;
  line-height: 120%;
  padding-bottom: 12px;
}
.discount-full-banner .container .discount-banner-content .discount-banner-innerbox p {
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 12px;
}
.discount-full-banner .container .discount-banner-content button {
  color: white;
  background: #013d29;
  border: 1px solid white;
  transition: all 0.3s ease;
}
.discount-full-banner .container .discount-banner-content button:hover {
  color: #013d29;
  background: white;
  border: 1px solid #013d29;
}

.footer .footer-top {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid #ccc;
  padding: 48px 0;
}
.footer .footer-top .footer-side-info p {
  margin-bottom: 16px;
}
.footer .footer-top .footer-side-info h3 {
  margin-bottom: 16px;
}
.footer .footer-top .footer-side-info .footer-logo {
  width: auto;
  height: 56px;
  margin-bottom: 16px;
}
.footer .footer-top .footer-side-info .footer-payments {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-gap: 8px;
}
.footer .footer-top .footer-side-info .footer-payments img {
  border: 0.5px solid #ccc;
  border-radius: 4px;
}
.footer .footer-top .footer-department h3,
.footer .footer-top .footer-about-us h3,
.footer .footer-top .footer-services h3,
.footer .footer-top .footer-help h3 {
  padding-bottom: 16px;
}
.footer .footer-top .footer-department ul,
.footer .footer-top .footer-about-us ul,
.footer .footer-top .footer-services ul,
.footer .footer-top .footer-help ul {
  list-style: none;
}
.footer .footer-top .footer-department ul li,
.footer .footer-top .footer-about-us ul li,
.footer .footer-top .footer-services ul li,
.footer .footer-top .footer-help ul li {
  padding-bottom: 4px;
}
.footer .footer-top .footer-department ul li a,
.footer .footer-top .footer-about-us ul li a,
.footer .footer-top .footer-services ul li a,
.footer .footer-top .footer-help ul li a {
  font-size: 12px;
  position: relative;
  left: 0;
  color: black;
  transition: all 0.3s ease;
}
.footer .footer-top .footer-department ul li a:hover,
.footer .footer-top .footer-about-us ul li a:hover,
.footer .footer-top .footer-services ul li a:hover,
.footer .footer-top .footer-help ul li a:hover {
  left: 8px;
  color: #ff7f50;
  cursor: pointer;
}
.footer .footer-bottom {
  border-top: 1px solid #ccc;
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-bottom-menu,
.footer .footer-bottom-copyright,
.footer .footer-bottom-text {
  display: flex;
  gap: 24px;
}
.footer .footer-bottom-menu a,
.footer .footer-bottom-copyright a,
.footer .footer-bottom-text a {
  color: black;
  font-size: 16px;
  transition: all 0.3s ease;
}
.footer .footer-bottom-menu a:hover,
.footer .footer-bottom-copyright a:hover,
.footer .footer-bottom-text a:hover {
  color: #ff7f50;
  cursor: pointer;
}
.footer .footer-bottom-menu a i,
.footer .footer-bottom-copyright a i,
.footer .footer-bottom-text a i {
  padding-right: 8px;
}

@media screen and (min-width: 1440px) {
  header,
main,
footer {
    position: relative;
    top: 80px;
  }
  .container {
    max-width: 1360px;
    padding: 0 40px;
  }
  section {
    margin: 64px 0;
  }
  .section-title {
    padding-bottom: 32px;
  }
  h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 150%;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    padding: 16px 36px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 20px;
  }
  .secondary-button {
    padding: 10px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border: black 1px solid;
    transition: all 0.2s ease;
  }
  .secondary-button:hover {
    color: white;
    background: #ff7f50;
    border: #ff7f50 1px solid;
    cursor: pointer;
  }
  .item-cards-carousel {
    grid-auto-columns: 32.5%;
  }
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  header,
main,
footer {
    position: relative;
    top: 80px;
  }
  .container {
    max-width: 90vw;
    padding: 0 20px;
  }
  section {
    margin: 64px 0;
  }
  .section-title {
    padding-bottom: 32px;
  }
  h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 120%;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    padding: 16px 36px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 20px;
  }
  .secondary-button {
    padding: 10px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border: black 1px solid;
    transition: all 0.2s ease;
  }
  .secondary-button:hover {
    color: white;
    background: #ff7f50;
    border: #ff7f50 1px solid;
    cursor: pointer;
  }
  .nav-bottombar-content .nav-bottom-toolbar {
    min-width: 254px;
  }
  .nav-bottombar-content .nav-bottombar-searchbar {
    max-width: 600px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar {
    min-width: 200px;
  }
  .header-background {
    height: 480px;
  }
  .header-background .header-content .header-content-innerbox {
    padding: 12px 0;
  }
  .header-background .header-content .header-content-innerbox p {
    font-size: 24px;
    line-height: 150%;
  }
  .header-background .header-content button {
    color: white;
    background: #ff7f50;
    border: none;
    transition: all 0.3s ease;
  }
  .header-background .header-content button:hover {
    color: #013d29;
    background: white;
  }
  .header-background .header-image img {
    width: 500px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box {
    width: 15%;
    height: 200px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box .shop-categories-title {
    width: 100%;
    top: 12px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card {
    width: 32%;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image {
    height: 280px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img {
    height: 280px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-innerbox {
    margin: 16px 0;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .best-deals-wrapper .dragging {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .best-deals-wrapper .dragging .item-card {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .best-deals-wrapper .carousel-card-button i {
    position: absolute;
    height: 100%;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .best-deals-wrapper .carousel-card-button i:first-child {
    left: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:last-child {
    right: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:hover {
    color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }
  .best-deals-wrapper .carousel-card-button i:hover:first-child {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .best-deals-wrapper .carousel-card-button i:hover:last-child {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .choose-by-brand .brand-wrapper .brand-box {
    width: 23.5%;
    margin: 12px 0;
  }
  .choose-by-brand .brand-wrapper .brand-box img {
    width: 80px;
    height: 80px;
    padding: 8px;
    margin-right: 0;
  }
  .choose-by-brand .brand-wrapper .brand-box:hover img {
    transform: scale(1.1);
  }
  .choose-by-brand .brand-wrapper .brand-box .brand-text h4 {
    margin-bottom: 8px;
  }
  .get-offer .get-offer-wrapper .get-offer-box {
    width: 23.5%;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container {
    height: 135px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img {
    width: 100%;
    height: auto;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text {
    padding: 24px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .get-off-save {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount {
    font-size: 48px;
    font-weight: 900;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount span {
    font-size: 20px;
    position: relative;
    top: -24px;
    margin-right: 4px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text p {
    font-size: 16px;
  }
  .item-cards-wrapper .item-cards-carousel {
    grid-auto-columns: 32.2%;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image {
    height: 280px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image img {
    height: 280px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .item-card-innerbox {
    margin: 16px 0;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .discount-full-banner .discount-banner-image-container {
    width: auto;
  }
  .discount-full-banner .discount-banner-image-container img {
    width: 100%;
  }
  .discount-full-banner .container {
    height: 500px;
  }
  .discount-full-banner .container .discount-banner-content {
    padding: 32px;
    width: 450px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox {
    max-width: 500px;
    padding: 8px;
    width: 100%;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox h2 {
    font-size: 42px;
    line-height: 120%;
    padding-bottom: 12px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox p {
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  header,
main,
footer {
    position: relative;
    top: 80px;
  }
  .container {
    max-width: 90vw;
    padding: 0 15px;
  }
  section {
    margin: 48px 0;
  }
  .section-title {
    padding-bottom: 28px;
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
  }
  .secondary-button {
    padding: 10px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border: black 1px solid;
    transition: all 0.2s ease;
  }
  .secondary-button:hover {
    color: white;
    background: #ff7f50;
    border: #ff7f50 1px solid;
    cursor: pointer;
  }
  .nav-bottombar-content .nav-bottom-toolbar {
    min-width: 135px;
  }
  .nav-bottombar-content .nav-bottom-toolbar .nav-toolbar-whatsnew {
    display: none;
  }
  .nav-bottombar-content .nav-bottombar-searchbar {
    max-width: 600px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar {
    min-width: 200px;
  }
  .header-background {
    height: 400px;
  }
  .header-background .header-content .header-content-innerbox {
    padding: 12px 0;
  }
  .header-background .header-content .header-content-innerbox p {
    font-size: 16px;
    line-height: 150%;
  }
  .header-background .header-content button {
    color: white;
    background: #ff7f50;
    border: none;
    transition: all 0.3s ease;
  }
  .header-background .header-content button:hover {
    color: #013d29;
    background: white;
  }
  .header-background .header-image img {
    width: 400px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box {
    width: 15%;
    height: 150px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box .shop-categories-title {
    width: 100%;
    top: 8px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card {
    width: 31.7%;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image {
    height: 220px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img {
    height: 220px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-innerbox {
    margin: 16px 0;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .best-deals-wrapper .dragging {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .best-deals-wrapper .dragging .item-card {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .best-deals-wrapper .carousel-card-button i {
    position: absolute;
    height: 100%;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .best-deals-wrapper .carousel-card-button i:first-child {
    left: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:last-child {
    right: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:hover {
    color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }
  .best-deals-wrapper .carousel-card-button i:hover:first-child {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .best-deals-wrapper .carousel-card-button i:hover:last-child {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .choose-by-brand .brand-wrapper .brand-box {
    width: 48%;
    margin: 12px 0;
  }
  .choose-by-brand .brand-wrapper .brand-box img {
    width: 80px;
    height: 80px;
    padding: 8px;
    margin-right: 0;
  }
  .choose-by-brand .brand-wrapper .brand-box:hover img {
    transform: scale(1.1);
  }
  .choose-by-brand .brand-wrapper .brand-box .brand-text h4 {
    margin-bottom: 8px;
  }
  .get-offer .get-offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  .get-offer .get-offer-wrapper .get-offer-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container {
    width: 300px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img {
    height: auto;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text {
    padding: 0 24px 6px 24px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .get-off-save {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount {
    font-size: 48px;
    font-weight: 900;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount span {
    font-size: 20px;
    position: relative;
    top: -24px;
    margin-right: 4px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text p {
    font-size: 16px;
  }
  .item-cards-wrapper .item-cards-carousel {
    grid-auto-columns: 32%;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image {
    height: 220px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image img {
    height: 220px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .item-card-innerbox {
    margin: 16px 0;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .discount-full-banner .discount-banner-image-container {
    width: auto;
  }
  .discount-full-banner .discount-banner-image-container img {
    height: 100%;
  }
  .discount-full-banner .container {
    height: 500px;
  }
  .discount-full-banner .container .discount-banner-content {
    padding: 32px;
    width: 450px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox {
    max-width: 500px;
    padding: 8px;
    width: 100%;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox h2 {
    font-size: 28px;
    line-height: 120%;
    padding-bottom: 12px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox p {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 12px;
  }
  .footer .footer-top {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 22% repeat(3, 1fr);
    grid-template-rows: auto auto;
    border-top: 1px solid #ccc;
    padding: 48px 0;
  }
  .footer .footer-top .footer-side-info {
    grid-column: 1/span 4;
    margin-bottom: 32px;
  }
  .footer .footer-top .footer-side-info p {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info h3 {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-logo {
    width: auto;
    height: 56px;
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-payments {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-gap: 8px;
  }
  .footer .footer-top .footer-side-info .footer-payments img {
    border: 0.5px solid #ccc;
    border-radius: 4px;
  }
  .footer .footer-top .footer-department,
.footer .footer-top .footer-about-us,
.footer .footer-top .footer-services,
.footer .footer-top .footer-help {
    grid-column: span 1;
  }
  .footer .footer-top .footer-department h3,
.footer .footer-top .footer-about-us h3,
.footer .footer-top .footer-services h3,
.footer .footer-top .footer-help h3 {
    padding-bottom: 18px;
  }
  .footer .footer-top .footer-department ul,
.footer .footer-top .footer-about-us ul,
.footer .footer-top .footer-services ul,
.footer .footer-top .footer-help ul {
    list-style: none;
  }
  .footer .footer-top .footer-department ul li,
.footer .footer-top .footer-about-us ul li,
.footer .footer-top .footer-services ul li,
.footer .footer-top .footer-help ul li {
    padding-bottom: 4px;
  }
  .footer .footer-top .footer-department ul li a,
.footer .footer-top .footer-about-us ul li a,
.footer .footer-top .footer-services ul li a,
.footer .footer-top .footer-help ul li a {
    font-size: 12px;
    position: relative;
    left: 0;
    color: black;
    transition: all 0.3s ease;
  }
  .footer .footer-top .footer-department ul li a:hover,
.footer .footer-top .footer-about-us ul li a:hover,
.footer .footer-top .footer-services ul li a:hover,
.footer .footer-top .footer-help ul li a:hover {
    left: 8px;
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom {
    border-top: 1px solid #ccc;
    padding: 32px 0;
    flex-direction: column;
  }
  .footer .footer-bottom-menu,
.footer .footer-bottom-copyright,
.footer .footer-bottom-text {
    gap: 24px;
    justify-content: space-around;
  }
  .footer .footer-bottom-menu a,
.footer .footer-bottom-copyright a,
.footer .footer-bottom-text a {
    color: black;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  .footer .footer-bottom-menu a:hover,
.footer .footer-bottom-copyright a:hover,
.footer .footer-bottom-text a:hover {
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom-menu a i,
.footer .footer-bottom-copyright a i,
.footer .footer-bottom-text a i {
    padding-right: 8px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  header,
main,
footer {
    position: relative;
    top: 140px;
  }
  .container {
    max-width: 100vw;
    padding: 0 20px;
  }
  section {
    margin: 48px 0;
  }
  .section-title {
    padding-bottom: 28px;
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
  }
  .secondary-button {
    padding: 10px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    border: black 1px solid;
    transition: all 0.2s ease;
  }
  .secondary-button:hover {
    color: white;
    background: #ff7f50;
    border: #ff7f50 1px solid;
    cursor: pointer;
  }
  .nav-topbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 12px 5px 12px;
  }
  .nav-topbar-content .nav-topbar-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-topbar-content .nav-topbar-phone i {
    padding-right: 8px;
  }
  .nav-topbar-content .nav-topbar-phone p {
    font-size: 16px;
  }
  .nav-topbar-content .nav-topbar-discount a {
    color: white;
  }
  .nav-topbar-content .nav-topbar-language-location select {
    color: white;
    border: none;
    background: none;
  }
  .nav-topbar-content .nav-topbar-language-location select:focus {
    outline: none;
  }
  .nav-bottombar-content .nav-bottom-toolbar {
    display: none;
  }
  .nav-bottombar-content .nav-bottombar-searchbar {
    max-width: 600px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar {
    min-width: 100px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar span {
    display: none;
  }
  .header-background {
    height: 400px;
  }
  .header-background .header-content .header-content-innerbox {
    padding: 12px 0;
  }
  .header-background .header-content .header-content-innerbox p {
    font-size: 16px;
    line-height: 150%;
  }
  .header-background .header-content button {
    color: white;
    background: #ff7f50;
    border: none;
    transition: all 0.3s ease;
  }
  .header-background .header-content button:hover {
    color: #013d29;
    background: white;
  }
  .header-background .header-image img {
    width: 320px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .shop-categories .shop-categories-wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box {
    width: 32%;
    height: 150px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box .shop-categories-title {
    width: 100%;
    top: 24px;
    font-size: 24px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card {
    width: 48.5%;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image {
    height: 220px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img {
    height: 220px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-innerbox {
    margin: 16px 0;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .best-deals-wrapper .dragging {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .best-deals-wrapper .dragging .item-card {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .best-deals-wrapper .carousel-card-button i {
    position: absolute;
    height: 100%;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .best-deals-wrapper .carousel-card-button i:first-child {
    left: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:last-child {
    right: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:hover {
    color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }
  .best-deals-wrapper .carousel-card-button i:hover:first-child {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .best-deals-wrapper .carousel-card-button i:hover:last-child {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .choose-by-brand .brand-wrapper .brand-box {
    width: 48%;
    margin: 12px 0;
  }
  .choose-by-brand .brand-wrapper .brand-box img {
    width: 80px;
    height: 80px;
    padding: 8px;
    margin-right: 0;
  }
  .choose-by-brand .brand-wrapper .brand-box:hover img {
    transform: scale(1.1);
  }
  .choose-by-brand .brand-wrapper .brand-box .brand-text h4 {
    margin-bottom: 8px;
  }
  .get-offer .get-offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  .get-offer .get-offer-wrapper .get-offer-box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container {
    width: 300px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img {
    height: auto;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text {
    padding: 0 24px 6px 24px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .get-off-save {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount {
    font-size: 48px;
    font-weight: 900;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount span {
    font-size: 20px;
    position: relative;
    top: -24px;
    margin-right: 4px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text p {
    font-size: 16px;
  }
  .item-cards-wrapper .item-cards-carousel {
    grid-auto-columns: 48%;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image {
    height: 220px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image img {
    height: 220px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .item-card-innerbox {
    margin: 16px 0;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .card-title-price .card-price span {
    font-size: 20px;
    margin-right: 12px;
  }
  .discount-full-banner .discount-banner-image-container {
    width: auto;
  }
  .discount-full-banner .discount-banner-image-container img {
    height: 100%;
  }
  .discount-full-banner .container {
    height: 500px;
    dislpay: flex;
    justify-content: center;
    align-items: center;
  }
  .discount-full-banner .container .discount-banner-content {
    padding: 32px;
    width: 450px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox {
    max-width: 500px;
    padding: 8px;
    width: 100%;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox h2 {
    font-size: 28px;
    line-height: 120%;
    padding-bottom: 12px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox p {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 12px;
  }
  .footer .footer-top {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 22% repeat(3, 1fr);
    grid-template-rows: auto auto;
    border-top: 1px solid #ccc;
    padding: 48px 0;
  }
  .footer .footer-top .footer-side-info {
    grid-column: 1/span 4;
    margin-bottom: 32px;
  }
  .footer .footer-top .footer-side-info p {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info h3 {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-logo {
    width: auto;
    height: 56px;
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-payments {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-gap: 8px;
  }
  .footer .footer-top .footer-side-info .footer-payments img {
    border: 0.5px solid #ccc;
    border-radius: 4px;
  }
  .footer .footer-top .footer-department,
.footer .footer-top .footer-about-us,
.footer .footer-top .footer-services,
.footer .footer-top .footer-help {
    grid-column: span 1;
  }
  .footer .footer-top .footer-department h3,
.footer .footer-top .footer-about-us h3,
.footer .footer-top .footer-services h3,
.footer .footer-top .footer-help h3 {
    padding-bottom: 18px;
  }
  .footer .footer-top .footer-department ul,
.footer .footer-top .footer-about-us ul,
.footer .footer-top .footer-services ul,
.footer .footer-top .footer-help ul {
    list-style: none;
  }
  .footer .footer-top .footer-department ul li,
.footer .footer-top .footer-about-us ul li,
.footer .footer-top .footer-services ul li,
.footer .footer-top .footer-help ul li {
    padding-bottom: 2px;
  }
  .footer .footer-top .footer-department ul li a,
.footer .footer-top .footer-about-us ul li a,
.footer .footer-top .footer-services ul li a,
.footer .footer-top .footer-help ul li a {
    font-size: 12px;
    position: relative;
    left: 0;
    color: black;
    transition: all 0.3s ease;
  }
  .footer .footer-top .footer-department ul li a:hover,
.footer .footer-top .footer-about-us ul li a:hover,
.footer .footer-top .footer-services ul li a:hover,
.footer .footer-top .footer-help ul li a:hover {
    left: 8px;
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom {
    border-top: 1px solid #ccc;
    padding: 32px 0;
    flex-direction: column;
  }
  .footer .footer-bottom-menu,
.footer .footer-bottom-copyright,
.footer .footer-bottom-text {
    gap: 24px;
    justify-content: space-around;
  }
  .footer .footer-bottom-menu a,
.footer .footer-bottom-copyright a,
.footer .footer-bottom-text a {
    color: black;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  .footer .footer-bottom-menu a:hover,
.footer .footer-bottom-copyright a:hover,
.footer .footer-bottom-text a:hover {
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom-menu a i,
.footer .footer-bottom-copyright a i,
.footer .footer-bottom-text a i {
    padding-right: 8px;
  }
}
@media screen and (max-width: 575px) {
  header,
main,
footer {
    position: relative;
    top: 100px;
  }
  .container {
    max-width: 100vw;
    padding: 0 20px;
  }
  section {
    margin: 48px 0;
  }
  .section-title {
    padding-bottom: 28px;
  }
  h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
  }
  h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
  }
  .secondary-button {
    padding: 8px 14px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 12px;
    background: transparent;
    border: black 1px solid;
    transition: all 0.2s ease;
  }
  .secondary-button:hover {
    color: white;
    background: #ff7f50;
    border: #ff7f50 1px solid;
    cursor: pointer;
  }
  .nav-topbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 12px 5px 12px;
  }
  .nav-topbar-content .nav-topbar-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-topbar-content .nav-topbar-phone i {
    padding-right: 8px;
  }
  .nav-topbar-content .nav-topbar-phone p {
    font-size: 8px;
  }
  .nav-topbar-content .nav-topbar-discount {
    display: none;
  }
  .nav-topbar-content .nav-topbar-language-location select {
    color: white;
    border: none;
    background: none;
  }
  .nav-topbar-content .nav-topbar-language-location select:focus {
    outline: none;
  }
  .nav-bottombar {
    height: 50px;
  }
  .nav-bottombar-content img {
    height: 40px;
  }
  .nav-bottombar-content .nav-bottom-toolbar {
    display: none;
  }
  .nav-bottombar-content .nav-bottombar-searchbar {
    max-width: 600px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar {
    min-width: 100px;
  }
  .nav-bottombar-content .nav-bottombar-sidebar span {
    display: none;
  }
  .header-background {
    height: 350px;
  }
  .header-background .header-content .header-content-innerbox {
    padding: 12px 0;
  }
  .header-background .header-content .header-content-innerbox p {
    font-size: 16px;
    line-height: 150%;
  }
  .header-background .header-content button {
    color: white;
    background: #ff7f50;
    border: none;
    transition: all 0.3s ease;
  }
  .header-background .header-content button:hover {
    color: #013d29;
    background: white;
  }
  .header-background .header-image img {
    display: none;
  }
  .shop-categories .shop-categories-wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box {
    width: 48%;
    height: 150px;
  }
  .shop-categories .shop-categories-wrapper .shop-categories-box .shop-categories-title {
    width: 100%;
    top: 24px;
    font-size: 24px;
  }
  .best-deals-categories-wrapper {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 12px;
  }
  .best-deals-categories-wrapper p {
    font-size: 16px;
  }
  .best-deals-categories-wrapper .button-selected {
    background: #ff7f50;
    border: #ff7f50 1px solid;
  }
  .best-deals-categories-wrapper .button-selected p {
    color: white;
    font-weight: 700;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card {
    width: 47%;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image {
    height: 180px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-image img {
    height: 180px;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .item-card-innerbox {
    margin: 12px 0;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .card-title-price {
    display: flex;
    flex-direction: column;
  }
  .best-deals-wrapper .best-deals-flexbox .item-card .card-title-price .card-price span {
    font-size: 16px;
  }
  .best-deals-wrapper .dragging {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .best-deals-wrapper .dragging .item-card {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .best-deals-wrapper .carousel-card-button i {
    position: absolute;
    height: 100%;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .best-deals-wrapper .carousel-card-button i:first-child {
    left: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:last-child {
    right: -16px;
  }
  .best-deals-wrapper .carousel-card-button i:hover {
    color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }
  .best-deals-wrapper .carousel-card-button i:hover:first-child {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .best-deals-wrapper .carousel-card-button i:hover:last-child {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  }
  .choose-by-brand .brand-wrapper .brand-box {
    width: 100%;
    margin: 4px 0;
  }
  .choose-by-brand .brand-wrapper .brand-box img {
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-right: 0;
  }
  .choose-by-brand .brand-wrapper .brand-box:hover img {
    transform: scale(1.1);
  }
  .choose-by-brand .brand-wrapper .brand-box .brand-text h4 {
    margin-bottom: 2px;
  }
  .get-offer .get-offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
  .get-offer .get-offer-wrapper .get-offer-box {
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container {
    width: 300px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-off-image-container img {
    height: auto;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text {
    padding: 0 12px 4px 12px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .get-off-save {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount {
    font-size: 28px;
    font-weight: 900;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text .offer-discount span {
    font-size: 12px;
    position: relative;
    top: -12px;
    margin-right: 4px;
  }
  .get-offer .get-offer-wrapper .get-offer-box .get-offer-text p {
    font-size: 12px;
  }
  .item-cards-wrapper .item-cards-carousel {
    grid-auto-columns: 47.5%;
    gap: 12px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image {
    height: 180px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image img {
    height: 180px;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .item-card-image .item-card-innerbox {
    margin: 12px 0;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .card-title-price {
    display: flex;
    flex-direction: column;
  }
  .item-cards-wrapper .item-cards-carousel .item-card .card-title-price .card-price span {
    font-size: 16px;
  }
  .discount-full-banner .discount-banner-image-container {
    width: auto;
  }
  .discount-full-banner .discount-banner-image-container img {
    height: 100%;
  }
  .discount-full-banner .container {
    height: 500px;
    dislpay: flex;
    justify-content: center;
    align-items: center;
  }
  .discount-full-banner .container .discount-banner-content {
    padding: 24px;
    width: 300px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox {
    max-width: 500px;
    padding: 8px;
    width: 100%;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox h2 {
    font-size: 28px;
    line-height: 120%;
    padding-bottom: 12px;
  }
  .discount-full-banner .container .discount-banner-content .discount-banner-innerbox p {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 12px;
  }
  .footer .footer-top {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 48% auto;
    grid-template-rows: auto auto;
    border-top: 1px solid #ccc;
    padding: 48px 0;
  }
  .footer .footer-top .footer-side-info {
    grid-column: 1/span 2;
    margin-bottom: 32px;
  }
  .footer .footer-top .footer-side-info p {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info h3 {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-logo {
    width: auto;
    height: 56px;
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-side-info .footer-payments {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-gap: 8px;
  }
  .footer .footer-top .footer-side-info .footer-payments img {
    border: 0.5px solid #ccc;
    border-radius: 4px;
  }
  .footer .footer-top .footer-department,
.footer .footer-top .footer-about-us,
.footer .footer-top .footer-services,
.footer .footer-top .footer-help {
    grid-column: span 1;
  }
  .footer .footer-top .footer-department h3,
.footer .footer-top .footer-about-us h3,
.footer .footer-top .footer-services h3,
.footer .footer-top .footer-help h3 {
    padding-bottom: 12px;
  }
  .footer .footer-top .footer-department ul,
.footer .footer-top .footer-about-us ul,
.footer .footer-top .footer-services ul,
.footer .footer-top .footer-help ul {
    list-style: none;
  }
  .footer .footer-top .footer-department ul li,
.footer .footer-top .footer-about-us ul li,
.footer .footer-top .footer-services ul li,
.footer .footer-top .footer-help ul li {
    padding-bottom: 2px;
  }
  .footer .footer-top .footer-department ul li a,
.footer .footer-top .footer-about-us ul li a,
.footer .footer-top .footer-services ul li a,
.footer .footer-top .footer-help ul li a {
    font-size: 8px;
    position: relative;
    left: 0;
    color: black;
    transition: all 0.3s ease;
  }
  .footer .footer-top .footer-department ul li a:hover,
.footer .footer-top .footer-about-us ul li a:hover,
.footer .footer-top .footer-services ul li a:hover,
.footer .footer-top .footer-help ul li a:hover {
    left: 8px;
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom {
    border-top: 1px solid #ccc;
    padding: 32px 0;
    flex-direction: column;
  }
  .footer .footer-bottom-menu,
.footer .footer-bottom-copyright,
.footer .footer-bottom-text {
    gap: 12px;
    justify-content: space-around;
  }
  .footer .footer-bottom-menu a,
.footer .footer-bottom-copyright a,
.footer .footer-bottom-text a {
    color: black;
    font-size: 8px;
    transition: all 0.3s ease;
  }
  .footer .footer-bottom-menu a:hover,
.footer .footer-bottom-copyright a:hover,
.footer .footer-bottom-text a:hover {
    color: #ff7f50;
    cursor: pointer;
  }
  .footer .footer-bottom-menu a i,
.footer .footer-bottom-copyright a i,
.footer .footer-bottom-text a i {
    padding-right: 8px;
  }
}/*# sourceMappingURL=style.css.map */